*.a
*.o
*.res
*.so
*.dll
*.bin
*.dlib
*.68k
*.prc
*.pdb
*.zip
*.d
res.flag
/src/netsurf-all-3.10/libnspsl/build/*
/src/netsurf-all-3.10/libparserutils/out/*
/src/netsurf-all-3.10/libsvgtiny/build/*
/src/netsurf-all-3.10/netsurf/build/*
/src/netsurf-all-3.10/nsgenbind/build/*
/src/netsurf-all-3.10/libnslog/build/*
/src/netsurf-all-3.10/netsurf/gen
/src/netsurf-all-3.10/netsurf/img
/src/netsurf-all-3.10/inst-framebuffer/*
/src/netsurf-all-3.10/libcss/gen
/src/netsurf-all-3.10/libcss/out/*
/src/netsurf-all-3.10/libhubbub/src/tokeniser/entities.inc
/src/netsurf-all-3.10/libparserutils/src/charset/aliases.inc
/src/netsurf-all-3.10/pumpkin/res.flag
!/src/lemmings/levels/trainer/*.bin
